/*
 *  ______   ______  ______  ______  __      ______  ______  __  __  ______
 * /\  ___\ /\  __ \/\__  _\/\  __ \/\ \    /\  __ \/\  ___\/\ \/\ \/\  ___\
 * \ \ \___ \ \  __ \/_/\ \/\ \  __ \ \ \___\ \ \/\ \ \ \__ \ \ \_\ \ \  __\
 *  \ \_____\\ \_\ \_\ \ \_\ \ \_\ \_\ \_____\ \_____\ \_____\ \_____\ \_____\
 *   \/_____/ \/_/\/_/  \/_/  \/_/\/_/\/_____/\/_____/\/_____/\/_____/\/_____/
 *
 *         A simple, centralised landing page for Iain B. Simpson.
 *                   A catalogue of his online presence.
 */


/*
 *     ██████╗ ██████╗ ██╗      ██████╗ ██╗   ██╗██████╗ ███████╗
 *    ██╔════╝██╔═══██╗██║     ██╔═══██╗██║   ██║██╔══██╗██╔════╝
 *    ██║     ██║   ██║██║     ██║   ██║██║   ██║██████╔╝███████╗
 *    ██║     ██║   ██║██║     ██║   ██║██║   ██║██╔══██╗╚════██║
 *    ╚██████╗╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║  ██║███████║
 *     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 *        Catalogue uses an extensive and varied repertoire of
 *       colours, all of which are consolidated and named here.
 */

:root {
/*  It's easier to call these colours using 'var(--Orange-Simpson)' than
 *  to remember all the colour hex codes and try to decipher them while
 *  working on the CSS file itself.  It also means we can update colours
 *  throughout the entire theme with one single change here.
 */

/*  "Isabelline" is the light mode background, taken from Picked. */
    --Isabelline:           #fef9f5;
/*  "Indigo Dye" is the inverse of "Isabelline", and is used as the
 *   Light Mode text and Dark Mode background. */
    --Indigo-Dye:           #143C54;

/*  "Misty Rose" is the dark mode text, taken from Pickled.  It's also
 *  used for metabox and code block backgrounds in Light Mode. */
    --Misty-Rose:           #f9e0d9;
/*  "Midnight Rose" is the inverse of "Misty Rose"; it's used for the
 *  background colour of metaboxes in Dark Mode. */
    --Midnight-Rose:        #061f26;

/*  "Orange B. Simpson" is the colour of the Reflections emoji
 *  (/icons/blog.png) and is used for link underline and hover, and
 *  other colourful and emphasis elements. */
    --Orange-B-Simpson:     #ff8c00;

    --Iain-Blue-Simpson:    #0404fc;

    --Iron-Blue-Simpson:    #0073ff;

/*  "Yellow Head" is the colour of the Iain emoji (/icons/iain.png) when
 *   it's inverted during hover and Dark Mode.  */
    --Yellow-Head:          #ffff02;

/*  "Double Windsor" is the colour of the Tie emoji (/icons/tie.png)
 *   which is used for the LinkedIn header link.  */
    --Double-Windsor:       #043c94;

/*  "Grey Mail" is the colour of the Email emoji (/icons/email.png). */
    --Grey-Mail:            #5c5c5c;
/*  "Pale Mail" is the inverted hover of Grey Mail. */
    --Pale-Mail:            #a3a3a3;

/*  "Homely Red" is the colour of the Home emoji (/icons/home.png). */
    --Homely-Red:           #fc0404;
/*  "Blue Toon" is the inverted hover of Homely Red. */
    --Blue-Toon:            #03fbfb;

/*  "Iain Brown Simpson" is the colour of the privacy emoji
 *   (/icons/privacy.png) */
    --Iain-Brown-Simpson:   #b44c04;
/*  "Blue It" is the inverted hover of Iain Brown Simpson. */
    --Blue-It:              #4bb3fb;

/*  "I. B. Simpsgreen" is the colour of the copyright emoji
 *   (/icons/copyright.png) */
    --I-B-Simpsgreen:       #04c43c;
/*  "Private Purple" is the inverted hover of I. B. Simpsgreen. */
    --Private-Purple:       #fb3bc3;
}


html {
    color: var(--Indigo-Dye);
    background: var(--Isabelline);
    margin-top:    0;
    margin-bottom: 0;
}
    @media (prefers-color-scheme: dark) {
        html {
            background: var(--Indigo-Dye);
            color: var(--Misty-Rose);
            }
        }

body {
    margin: 0;
}

a {
    color: var(--Iain-Blue-Simpson);
    text-decoration: none;
    border-bottom: 3px solid var(--Orange-B-Simpson);
    font-weight: 600;
    padding-left:  2px;
    padding-right: 2px;
}
    a:hover {
        color: var(--Orange-B-Simpson);
    }

    a:active {
        color: var(--Yellow-Head);
        background: var(--Indigo-Dye);
    }
            @media (prefers-color-scheme: dark) {
                main a {
                    filter: invert(100%) !important;
                }
                    main a:hover {
                        filter: invert(100%) !important;
                    }
                    main a:active {
                        filter: invert(100%) !important;
                    }
            }


/*
 *          ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
 *          ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
 *          ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
 *          ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
 *          ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
 *          ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
 */

header {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
/*  When using Sitelen Pona Pona, ligatures need to be disabled or the
 *  text appears inside a chevron.  This is used to deliberate effect
 *  for the post tags. */
    font-variant-ligatures: none;
    background: var(--Isabelline);
    border-bottom: 3px solid var(--Orange-B-Simpson);
    /*  This code is from Caramelised, and is used to pin the site header
     *  to the top of the page when scrolling. */
        width: 100% !important;
        position: fixed;
        z-index:  10;
        display:  flex;
        align-items: center;                    /* Vertical alignment. */
        justify-content: center;              /* Horizontal alignment. */
        flex-wrap: wrap;
}
    @media (prefers-color-scheme: dark) {
        header {
            background: var(--Indigo-Dye);
            border-bottom: 3px solid var(--Iain-Blue-Simpson);
        }
    }

    header a {
    /*  This ensures that *all* links in the header bar have clearance
     *  on the right to space out the icons and links.
     */
        margin-right:   20px;
        padding-top:    15px;
        padding-bottom: 10px;
        padding-right:  10px;
        padding-left:   10px;
        border-bottom:   none;
        text-decoration: none;
    }
        header a:hover img {
            filter: invert(100%) !important;
        }

    header a.header-name {
        color: var(--Orange-B-Simpson);
        font-size: 24pt;
        text-transform: uppercase;
    }
        header a.header-name:hover {
            color: var(--Isabelline);
            background: var(--Orange-B-Simpson);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-name {
                    filter: invert(100%) !important;
                }
                    header a.header-name:hover {
                    /*  The 'color' variable here is a little hacky.
                     *  It's specifically targeted to set the hover
                     *  colour to the *opposite* of Indigo Dye, so that
                     *  when the invert filter applies, it correctly
                     *  displays the hovered text as Indigo Dye.
                     */
                        color: #ebc3ab;
                        filter: invert(100%) !important;
                    }
                    header a.header-name:hover img {
                    /*  This code fixes the face emoji to stop it from
                     *  inverting to a blue against a blue background.
                     *  It now stays yellow on hover.
                     */
                        filter: none !important;
                    }
            }

    header a.header-about {
        color: var(--Iain-Blue-Simpson);
    }
        header a.header-about:hover {
            color: var(--Yellow-Head);
            background: var(--Iain-Blue-Simpson);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-about {
                    filter: invert(100%) !important;
                }
                    header a.header-about:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-blog {
        color: var(--Orange-B-Simpson);
    }
        header a.header-blog:hover {
            color: var(--Iron-Blue-Simpson);
            background: var(--Orange-B-Simpson);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-blog {
                    filter: invert(100%) !important;
                }
                    header a.header-blog:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-resources {
        color: var(--Iain-Blue-Simpson);
    }
        header a.header-resources:hover {
            color: var(--Yellow-Head);
            background: var(--Iain-Blue-Simpson);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-resources {
                    filter: invert(100%) !important;
                }
                    header a.header-resources:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-linkedin {
        color: var(--Double-Windsor);
    }
        header a.header-linkedin:hover {
            color: var(--Isabelline);
            background: var(--Double-Windsor);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-linkedin {
                    filter: invert(100%) !important;
                }
                    header a.header-linkedin:hover {
                        filter: invert(100%) !important;
                    }
            }

    header a.header-email {
        color: var(--Grey-Mail);
    }
        header a.header-email:hover {
            color: var(--Pale-Mail);
            background: var(--Grey-Mail);
        }
            @media (prefers-color-scheme: dark) {
                header a.header-email {
                    filter: invert(100%) !important;
                }
                    header a.header-email:hover {
                        filter: invert(100%) !important;
                    }
            }


/*
 * ███╗   ███╗ █████╗ ██╗███╗   ██╗    ██████╗  ██████╗ ██████╗ ██╗   ██╗
 * ████╗ ████║██╔══██╗██║████╗  ██║    ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
 * ██╔████╔██║███████║██║██╔██╗ ██║    ██████╔╝██║   ██║██║  ██║ ╚████╔╝
 * ██║╚██╔╝██║██╔══██║██║██║╚██╗██║    ██╔══██╗██║   ██║██║  ██║  ╚██╔╝
 * ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║    ██████╔╝╚██████╔╝██████╔╝   ██║
 * ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝    ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝
 */

main {
    font-family: "Poppins",
                  sans-serif;
    font-weight:  400;
    font-size:     14pt;
    line-height:  160%;
    margin-left:   50px;
    margin-right:  50px;
    margin-bottom: 40px;
    padding-top: 80px;
}


h2 {
    font-family: "sitelen-pona-pona",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    24pt;
    font-weight:  bold;
    font-variant-ligatures: none;
}


p.post-tags {
    font-family: "sitelen-pona-pona",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    16pt;
    font-variant-ligatures: none;
}

a.post-tags-link {
    font-family: "sitelen-pona-pona",
                 "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-feature-settings: "liga" 1;
    color: var(--Iain-Blue-Simpson);
    border-bottom: none;
}
    a.post-tags-link:hover {
        color: var(--Orange-B-Simpson);
        font-family: "sitelen-pona-pona",
                     "Poppins",
                     "Century Gothic",
                      sans-serif;
        font-feature-settings: "liga" 1;
    }
    a.post-tags-link:active {
        background: none;
    }

p + p {
    text-indent: 28pt;
    margin-top: -10pt;
}

blockquote {
    font-style:    italic;
    padding-left:  24pt;
    padding-right: 24pt;
    opacity:       0.85;
    border-left: 12px solid var(--Orange-B-Simpson);
}
    @media (prefers-color-scheme: dark) {
        blockquote {
            border-left: 12px solid var(--Iain-Blue-Simpson);
        }
    }
    blockquote em {
    /*  This code makes <em>phasised text within a blockquote appear
     *  as roman, since the main body of the quote is italic.
     */
        font-style: normal;
    }


code {
    font-family:  "Fira Mono",
                   monospace;
    font-weight:   500;
    background:    var(--Misty-Rose);
    padding-left:  4px;
    padding-right: 4px;
}
    @media (prefers-color-scheme: dark) {
        code {
           background: var(--Grey-Mail);
        }
    }

pre {
    font-family: "Fira Mono",
                  monospace;
    font-weight:  500;
    background:   var(--Misty-Rose);
    padding:      10px;
}
    @media (prefers-color-scheme: dark) {
        pre {
           background: var(--Grey-Mail);
        }
    }

/*
 * ███╗   ███╗███████╗████████╗ █████╗ ██████╗  ██████╗ ██╗  ██╗███████╗███████╗
 * ████╗ ████║██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔═══██╗╚██╗██╔╝██╔════╝██╔════╝
 * ██╔████╔██║█████╗     ██║   ███████║██████╔╝██║   ██║ ╚███╔╝ █████╗  ███████╗
 * ██║╚██╔╝██║██╔══╝     ██║   ██╔══██║██╔══██╗██║   ██║ ██╔██╗ ██╔══╝  ╚════██║
 * ██║ ╚═╝ ██║███████╗   ██║   ██║  ██║██████╔╝╚██████╔╝██╔╝ ██╗███████╗███████║
 * ╚═╝     ╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝
 *      Styles for the two types of metabox: infobox and download-box.
 */

.infobox {
/*  At present, there's absolutely no difference between the two metabox
 *  classes ('infobox' and 'download-box'): the code is identical and
 *  they display identically.  I added the duplicate code for
 *  flexibility later on.  The download-box code snippets call the
 *  download-box class, and the infobox snippets call the infobox class.
 *  With this in place, it means that we can change the design of the
 *  download- or infobox later without changing the appearance of the
 *  other metabox or having to do any search-and-replace.
 */
    border: 4px solid var(--Orange-B-Simpson);
    border-left: 12px solid var(--Orange-B-Simpson);
    padding: 12pt;
    margin:  24pt;
    text-indent: 0;
    font-style: normal;      /* Cancels out blockquote's italic text. */
    background: var(--Misty-Rose);
    min-height: 80px;                 /* Gives the icon enough space. */
    clear: left;
    opacity: 1;     /* Cancels out blockquote's partial transparency. */
}
    @media (prefers-color-scheme: dark) {
        .infobox {
            border: 4px solid var(--Iain-Blue-Simpson);
            border-left: 12px solid var(--Iain-Blue-Simpson);
            background: var(--Midnight-Rose);
        }
    }
    .infobox img {
        padding-right: 12pt;
        float:  left;
        border: none;
    }
        @media (prefers-color-scheme: dark) {
            .infobox img {
                filter: invert(100%) !important;
            }
        }

.download-box {
    border: 4px solid var(--Orange-B-Simpson);
    border-left: 12px solid var(--Orange-B-Simpson);
    padding: 12pt;
    margin:  24pt;
    text-indent: 0;
    font-style: normal;      /* Cancels out blockquote's italic text. */
    background: var(--Misty-Rose);
    min-height: 80px;                 /* Gives the icon enough space. */
    clear: left;
    opacity: 1;     /* Cancels out blockquote's partial transparency. */
}
    @media (prefers-color-scheme: dark) {
        .download-box {
            border: 4px solid var(--Iain-Blue-Simpson);
            border-left: 12px solid var(--Iain-Blue-Simpson);
            background: var(--Midnight-Rose);
        }
    }
    .download-box img {
        padding-right: 12pt;
        float:  left;
        border: none;
    }
        @media (prefers-color-scheme: dark) {
            .download-box img {
                filter: invert(100%) !important;
            }
        }

/*  Change text-selection colour to "Yellow Head", which is the colour
 *  the Iain emoji (/icons/iain.png) when it's inverted during hover and
 *  Dark Mode.  From: https://www.w3schools.com/cssref/sel_selection.asp
 */
::selection {
    background: var(--Yellow-Head);
}
    @media (prefers-color-scheme: dark) {
        ::selection {
            background: var(--Iain-Blue-Simpson);
        }
    }


/*
 *        ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
 *        ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 *        █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
 *        ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
 *        ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
 *        ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
 */

footer {
    font-family: "Poppins",
                 "Century Gothic",
                  sans-serif;
    font-size:    18pt;
    font-weight:  bold;
    font-variant-ligatures: none;
    text-align:   center;
    align-items:  center;                      /* Vertical alignment. */
    border-top:   3px solid var(--Orange-B-Simpson);
    padding-top: 10px;
    border-bottom: 3px solid var(--Orange-B-Simpson);
    padding-bottom: 10px;
    margin-bottom:  20px;
}
    @media (prefers-color-scheme: dark) {
        footer {
            background: var(--Indigo-Dye);
            border-top:    3px solid var(--Iain-Blue-Simpson);
            border-bottom: 3px solid var(--Iain-Blue-Simpson);
        }
    }

    footer a {
    /*  This ensures that *all* links in the footer bar have clearance
     *  on the right to space out the icons and links.
     */
        margin-right:   20px;
        padding-left:    5px;
        padding-top:    15px;
        padding-bottom: 10px;
        padding-right:  10px;
        padding-left:   10px;
        border-bottom:   none;
        text-decoration: none;
    }
        footer a:hover {
            padding-top: 20px;
        }

        footer a:hover img {
            filter: invert(100%) !important;
        }

    footer a.footer-home {
        color: var(--Homely-Red);
    }
        footer a.footer-home:hover {
            color: var(--Blue-Toon);
            background: var(--Homely-Red);
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-home {
                    filter: invert(100%) !important;
                }
                    footer a.footer-home:hover {
                        filter: invert(100%) !important;
                    }
            }

    footer a.footer-privacy {
        color: var(--Iain-Brown-Simpson);
    }
        footer a.footer-privacy:hover {
            color: var(--Blue-It);
            background: var(--Iain-Brown-Simpson);
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-privacy {
                    filter: invert(100%) !important;
                }
                    footer a.footer-privacy:hover {
                        filter: invert(100%) !important;
                    }
            }

    footer a.footer-copyright {
        color: var(--I-B-Simpsgreen);
    }
        footer a.footer-copyright:hover {
            color: var(--Private-Purple);
            background: var(--I-B-Simpsgreen);
        }
            @media (prefers-color-scheme: dark) {
                footer a.footer-copyright {
                    filter: invert(100%) !important;
                }
                    footer a.footer-copyright:hover {
                        filter: invert(100%) !important;
                    }
            }


/*
 *      ██╗      █████╗ ███╗   ██╗██████╗ ██╗███╗   ██╗ ██████╗
 *      ██║     ██╔══██╗████╗  ██║██╔══██╗██║████╗  ██║██╔════╝
 *      ██║     ███████║██╔██╗ ██║██║  ██║██║██╔██╗ ██║██║  ███╗
 *      ██║     ██╔══██║██║╚██╗██║██║  ██║██║██║╚██╗██║██║   ██║
 *      ███████╗██║  ██║██║ ╚████║██████╔╝██║██║ ╚████║╚██████╔╝
 *      ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝
 *
 *      Styles for the Landing page.  I cheated and reused these
 *     for the About page too, but didn't rename the CSS classes.
 */

.landing {
    font-size:    18pt;
    line-height: 170%;
    max-width:    64ch;
}

.landing code {
    background: none;
}

.landing img {
    float:  left;
    border: 12px solid var(--Orange-B-Simpson);
    margin-right: 32pt;
}
    @media (prefers-color-scheme: dark) {
        .landing img {
            border: 12px solid var(--Iain-Blue-Simpson);
            opacity: 0.75;         /* Softens the image in dark mode. */
        }
    }

.landing h3 {
    font-size:    32pt;
    line-height:  42pt;
    max-width:    34ch;
}
    .landing h3 em {
        font-family: "Permanent Marker",
                      cursive;
    }

.landing h4 {
    font-weight:  700;
    font-size:     18pt;
    line-height:   24pt;
    max-width:     64ch;
}

.landing ul {
    margin-top:    24pt;
    margin-bottom: 48pt;
    float:         left;
}
    .landing li {
        list-style:     none;
        padding-left:   24pt;
        padding-bottom: 24pt;
        max-width:      52ch;
        clear:          both;
    }
        .landing li img {
        /*  This is needed to remove the border that's set above to add
         *  the border to the headshot.
         */
            border: none;
        }
            @media (prefers-color-scheme: dark) {
                .landing li img {
                    filter: invert(100%) !important;
                    opacity: 1.0;
                }
            }


/*
 *    ██╗  ██╗ ██████╗ ██╗  ██╗    ██████╗  █████╗  ██████╗ ███████╗
 *    ██║  ██║██╔═████╗██║  ██║    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
 *    ███████║██║██╔██║███████║    ██████╔╝███████║██║  ███╗█████╗
 *    ╚════██║████╔╝██║╚════██║    ██╔═══╝ ██╔══██║██║   ██║██╔══╝
 *         ██║╚██████╔╝     ██║    ██║     ██║  ██║╚██████╔╝███████╗
 *         ╚═╝ ╚═════╝      ╚═╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
 *
 *     Styles for the 404 page.  You can't name a CSS class using
 *     numbers, so I settled for the more descriptive "i-am-lost".
 */

.i-am-lost {
    font-size:    24pt;
    line-height: 170%;
    max-width:    40ch;
}
    .i-am-lost em {
        font-family: "Permanent Marker",
                      cursive;
        font-size: 32pt;
    }

.i-am-lost img {
    float:  left;
    margin-right: 32pt;
    border: 0;
}
    @media (prefers-color-scheme: dark) {
        .i-am-lost img {
            filter: invert(100%) !important;
        }
    }

.i-am-lost ul {
    font-size:     18pt;
    margin-top:    24pt;
    margin-bottom: 48pt;
    float:         left;
}
    .i-am-lost li {
        list-style:     none;
        line-height:   170%;
        padding-left:   24pt;
        padding-bottom: 24pt;
        max-width:      52ch;
        clear:          both;
    }
