/*
 *
 *  ██╗    ██╗███████╗██████╗     ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *  ██║    ██║██╔════╝██╔══██╗    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *  ██║ █╗ ██║█████╗  ██████╔╝    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *  ██║███╗██║██╔══╝  ██╔══██╗    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *  ╚███╔███╔╝███████╗██████╔╝    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *   ╚══╝╚══╝ ╚══════╝╚═════╝     ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *
 *                 IBSIMPSON.COM serves all its own webfonts.
 *              These are used in accordance with their licenses.
 *                License details are included in this CSS file.
 */

/*
 *  ╦╔╗ ╔╦╗  ╔═╗╦  ╔═╗═╗ ╦  ╔═╗╔═╗╔╗╔╔═╗
 *  ║╠╩╗║║║  ╠═╝║  ║╣ ╔╩╦╝  ╚═╗╠═╣║║║╚═╗
 *  ╩╚═╝╩ ╩  ╩  ╩═╝╚═╝╩ ╚═  ╚═╝╩ ╩╝╚╝╚═╝
 *  IBM Plex Serif is the main font used on IBSIMPSON.COM.
 *
 *  To decrease loading times, this font has been split into Latin and
 *  Latin Extended subsets.  These are called as needed by the browser.
 *
 *  You can read more about this font and its design at IBM's website:
 *  https://www.ibm.com/plex/
 *
 *  This font was made for IBM by Mike Abbink and Bold Monday, and is
 *  licensed under the SIL Open Font License:
 *  https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web
 *
 *  This license does not extend to any other parts of this website.
 */

@font-face {
/*  Latin subset of IBM Plex Sans. */
    font-family: 'IBM Plex Sans';
    font-style:   normal;
    font-weight:  400;
    font-display: swap;
    src: local('IBM Plex Sans'),
         local('IBM Plex Sans'),
         url(fonts/ibm-plex-sans/400-latin.woff2) format('woff2'),
         url(fonts/ibm-plex-sans/400-latin.woff)  format('woff'),
         url(fonts/ibm-plex-sans/400-latin.ttf)   format('truetype'),
         url(fonts/ibm-plex-sans/400-latin.eot)   format('embedded-opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                   U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
                   U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
/*  Latin subset of IBM Plex Sans Regular. */
    font-family: 'IBM Plex Sans';
    font-style:   normal;
    font-weight:  600;
    font-display: swap;
    src: local('IBM Plex Sans Semibold'),
         local('IBM Plex Sans-Semibold'),
         url(fonts/ibm-plex-sans/600-latin.woff2) format('woff2'),
         url(fonts/ibm-plex-sans/600-latin.woff)  format('woff'),
         url(fonts/ibm-plex-sans/600-latin.ttf)   format('truetype'),
         url(fonts/ibm-plex-sans/600-latin.eot)   format('embedded-opentype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
                   U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
                   U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
